@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.nav { 
    position: absolute;
    width: 100%;
    height: 60px;
    left: calc(50% - 1400px/2);
    top: 1px;

    background: #FFFFFF;
    box-shadow: 0px 2px 2px 2px rgba(224, 224, 224, 0.25);
}

.logo {
    position: absolute;
    left: 7%;
    right: 0%;
    top: 8%;
    bottom: -8.33%;
}

.menukiri{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    width: 475px;
    height: 24px;
    left: 296px;
    top: 18px;
    margin-top: auto;
    list-style: none;
    text-decoration: none;
    
}

.menukanan{
    /* Menu kanan */

/* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: absolute;
    width: 144px;
    height: 32px;
    left: 1196px;
    top: 14px;
    margin-top: auto;
}

.program{
    /* Program  */

position: static;
width: 77px;
height: 24px;
left: 0px;
top: 0px;


/* Subtitle */
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 150% */
display: flex;
align-items: flex-end;

color: #262627;
}

.artikel{
    /* Artikel */

    position: static;
    width: 48px;
    height: 24px;
    left: 102px;
    top: 0px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

/* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #262627;


/* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 25px 0px;
}

.tentangkami{
    position: static;
width: 99px;
height: 24px;
left: 175px;
top: 0px;

font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-decoration: none;

/* identical to box height, or 150% */
display: flex;
align-items: flex-end;
text-align: center;

color: #262627;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
margin: 25px 0px;

}

.kolaborasi{
    position: static;
width: 75px;
height: 24px;
left: 299px;
top: 0px;

font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-decoration: none;

/* identical to box height, or 150% */
display: flex;
align-items: flex-end;
text-align: center;

color: #262627;


/* Inside Auto Layout */
flex: none;
order: 3;
align-self: center;
margin: 25px 0px;

}

.bantuan{
    
position: static;
width: 76px;
height: 24px;
left: 399px;
top: 0px;
text-decoration: none;

/* Subtitle */
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 150% */
display: flex;
align-items: flex-end;

color: #262627;


/* Inside Auto Layout */
flex: none;
order: 4;
align-self: center;
margin: 25px 0px;

}

.dropdown{
    

}

.daftar{
/* Button/Primary */

/* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 10px 16px;

    position: static;
    width: 72px;
    height: 32px;
    left: 72px;
    top: 0px;

    background: #FC8047;
    border-radius: 20px;

/* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 25px 0px;

}

.masuk{
    position: static;
    width: 47px;
    height: 24px;
    left: 0px;
    top: 4px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

/* identical to box height, or 150% */
    display: flex;
    align-items: flex-end;

    color: #FC8047;


/* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 25px 0px;

}

.halaman{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 490px;
    left: -1px;
    top: 61px;

/* Light Blue */
    background: #FFFFFF;
}

.halaman{
    background-image: url(./logo/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.hometeks h1{
    position: absolute;
    width: 454px;
height: 50px;
left: 127px;
top: 150px;

font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 50px;

/* identical to box height, or 78% */
display: flex;
align-items: flex-end;
text-align: center;

/* Semi Black */
color: #393939;
}

.hometeks h3{
    position: absolute;
width: 640px;
height: 138px;
left: 127px;
top: 244px;

font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;

/* or 136% */

/* Semi Black */
color: #393939;
}

.homeimage img{
    width: 600px;
    height: 400px;
    padding-top: 75px;
}

.hometeks{
    padding-right: 430px;
}

.keuntungan{
    /* Keuntungan Menjadi Mitra Kami */

position: absolute;
width: 435px;
height: 41px;
left: 502px;
top: 605px;

font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

/* identical to box height */
display: flex;
align-items: flex-end;
text-align: center;

/* Semi Black */
color: #393939;
}

.gelombang img{
    position: absolute;
width: 100%;
height: 285px;
left: 1px;
top: 550px;

border: 0px solid rgba(92, 188, 210, 0.2);
}


.lingkaran1 img{
    /* Ellipse 12 */

position: absolute;
width: 120px;
height: 120px;
left: 144px;
top: 765px;

}

.ikon1 img{
    /* Vector */

position: absolute;
width: 40px;
height: 40px;
left: 13.50%;
right: 0%;
top: 163.53%;
bottom: 11.54%;

}